{% extends "header.html" %}

{% block body %}
    <div class="bread_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="http://localhost:1989/">Home</a></li>
                        <li class = "active">Emergency Preparedness</li>
                        <li class="active">Landslides</li>
                    </ol>                    
                </div>
            </div>
        </div>
    </div>
    <main class="site-main page-main">
        <div class="container">
            <div class="row">
                <section class="page col-sm-9">
                    <h2 class="page-title">LANDSLIDES</h2>
                    <div class = "entry">
                        <div id = "WHAT_IS_A_LANDSLIDE">
                        <h4>WHAT IS A LANDSLIDE?</h4>
                            <p> Landslides are huge masses of debris falling down mountains. They can be caused by a variety of things, including but not limited to: earthquakes, storms, volcanos, fire, and construction. Landslides can grow in size by "picking up" trees and boulders as they roll down. Landslides are common in areas with mountains and areas that often experience wildfires.</p>
                        </div>

                        <div id = "IN_GENERAL">
                        <h4>IN GENERAL:</h4>
                            <p> Stay awake: most deaths during a landslide are due to people sleeping through it. Listen for unusual sounds, such as trees falling and rumbling noises. Move as far away from the landslide as possible. Avoid streams and channels, as they may get flooded with debris. If all else fails, curl up in a ball and protect your head.</p>

                            <p> Turn on your radio/TV, and stay alert for Wireless Emergency Alerts. Listen to officials and their instructions.</p>
                        </div>


                        <div id = "AFTER_THE_LANDSLIDE">
                        <h4>AFTER THE LANDSLIDE:</h4>
                            <p> Turn on your radio/TV, and stay alert for Wireless Emergency Alerts. Listen to officials and their instructions. Photograph any damage done to your property for insurance purposes. Contact your friends and family. Seek first aid if needed. Look at our emergency contact page for more.</p>   
                        </div>
                    </div>
                </section>
                <aside class="sidebar col-sm-3">
                    <div class="widget">
                        <h4>SERVICES</h4>
                        <ul>
                            <li><a href="#WHAT_IS_A_LANDSLIDE" title="What is a Landslide">What is a Landslide</a></li>
                            <li><a href="#IN_GENERAL" title="In General">In General</a></li>
                            <li><a href="#AFTER_THE_LANDSLIDE" title="After the Landslide">After the Landslide</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}
