{% extends "header.html" %}

{% block body %}
    <div class="bread_area" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Why</li>
                    </ol>                    
                </div>
            </div>
        </div>
    </div>
    <div>
<main class="site-main page-main" >
        <div class="container" >
            <div class="row">
                <section class="page col-sm-9">
                    <h2 class="page-title">EARTHQUAKES</h2>
                    <div class = "entry">
                        <div id = "IF_INDOORS">
                        <h4>IF INDOORS:</h4>
                            <p> Drop to the ground and take cover by under a sturdy table or other piece of furniture. Hold on to the furtniture until the shaking stops. If furniture isn't near you, cover your face and head with your arms and crouch in a corner. Do not rely on doorways as a source of protection.</p>

                            <p> Stay away from glass, windows, outside doors and walls, and anything that could harm you. Stay inside until the earthquake is over, and do not attempt to exit the building or move during the earthquake.</p>
                        </div>

                        <div id = 'IF_OUTDOORS'>
                        <h4>IF OUTDOORS:</h4>
                            <p> Stay outside and do not attempt to enter a building. Stay away from buildings and structures - things could break and fall on you. Walls may collapse and glass may break.</p>
                        </div>

                        <div id = "IF_IN_A_VEHICLE">
                        <h4>IF IN A VEHICLE</h4>
                            <p> Stop the vehicle and stay inside. Don't stop near/under buildings, trees, or bridges. Keep your seatbelt fastened. Don't try to exit the car.</p>
                        </div>

                        <div id = 'AFTER_THE_EARTHQUAKE'>
                        <h4>AFTER THE EARTHQUAKE:</h4>
                            <p> Proceed cautiously once the earthquake has stopped. Avoid roads, bridges, or ramps that may have been damaged by the earthquake. Cover your mouth with cloth if in dusty areas.</p>

                            <p>If you smell an unusual gas, move away from its source and contact the fire department, as it may be a gas leak. Landslides may start after/during earthquakes in mountainous areas. Fire, however, is the most common hazard after an earthquake. Proceed cautiously if you smell/see smoke. Be prepared in case an aftershock occurs.</p> 

                            <p> Turn on your radio/TV, and stay alert for Wireless Emergency Alerts. Listen to officials and their instructions. Photograph any damage done to your property for insurance purposes. Contact your friends and family. Seek first aid if needed. Look at our emergency contact page for more.</p>   
                        </div>
                    </div>
                </section>
                <aside class="sidebar col-sm-3">
                    <div class="widget">
                        <h4>SERVICES</h4>
                        <ul>
                            <li><a href="#IF_INDOORS" title="If Indoors">If Indoors</a></li>
                            <li><a href="#IF_OUTDOORS" title="If Outdoors">If Outdoors</a></li>
                            <li><a href="#IF_IN_A_VEHICLE" title="If in A Vehicle">If in a Vehicle</a></li>
                            <li><a href="#AFTER_THE_EARTHQUAKE" title="After the Earthquake">After the Earthquake</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </main>

    </div>

{% endblock %}
